<h4>Dear <%= @user.name %>, </h4>


  <h4>we had detected a new login from </h4>
  <h4> <%= @ua.browser %>  <%= @ua.version %> </h4>
  <h4> <%= @ua.platform %> </h4>
  <h4> <%= @city %> </h4>
  <h4>Regards </h4>
  <h4>Admin </h4>

