<% if flash[:no_user] %>
    <div class='errors'><%= flash[:no_user] %></div>
<% end %>
<% if flash[:password_mismatch] %>
    <div class='errors'><%= flash[:password_mismatch] %></div>
<% end %>
<div class='login'>
<h4>change your password </h4>
   <%=form_for(:password_reset, url: password_path) do |f|%>

    <%= f.label :email %><br/>
    <%= f.email_field :email , class:'form_control'%><br/>

    <%= f.label :password %><br/>
    <%= f.password_field :password %><br/>

    <%= f.label :'confirm password' %><br/>
    <%= f.password_field :password_confirmation%><br/>

    <%=f.submit ' update password ',class:'btn btn-primary'%>
   <%end%>
</div>